#rating-container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
}

.rating-content {
  border-left: 4px solid #8a8a8a;
  border-radius: 2px;
  padding-left: 10px;
  margin-bottom: 1rem;
}

#customer-rating-txt {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.customer-name {
  display: block;
  margin-right: 0.5rem;
}

.rating-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-weight: bold;
}

.rating-date {
  color: rgba(0, 0, 0, 0.302);
}

.rating-stars {
  margin-right: 0.5rem;
}

.rating-stars svg {
  width: 1.2rem;
  height: 1.2rem;
  color: gold;
}

.rating-comment {
  color: rgb(132, 126, 126);
}

/* 
  If there are is than 1 rating then add a margin-bottom.
  It means select the rating-comment that comes directly after 
  a .rating-header element. This is called 'Adjacent sibling combinator'
  => https://developer.mozilla.org/en-US/docs/Web/CSS/Adjacent_sibling_combinator
*/
.rating-header + .rating-comment {
  margin-bottom: 1rem;
}

/* Container for summary at the end of the ratings component */
.rating-summary-container {
  color: rgb(132, 126, 126);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.rating-summary-text {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.rating-summary-link-text {
  margin: 0;
}

.rating-summary-link-text > a {
  text-decoration: underline;
  font-weight: 500;
}

.rating-summary-link-text > a:hover {
  text-decoration: none;
}

.rating-summary-link-text > a:visited {
  color: rgb(132, 126, 126);
}

.current-rating-text {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  font-weight: 700;
}

/* Rating error */
#rating-error {
  display: none;
}

#sad-smiley {
  display: block;
  width: 5rem;
  margin: auto;
  color: rgb(193, 113, 113);
}

.rating-error-text {
  font-size: 1.5rem;
  color: rgb(69, 59, 59);
}
